app-files
  
  .breadcrumbs
    a
      &:hover
        text-decoration underline
    
    .arrow
      color #6a6a72
      font-size 24px
      font-weight 700
      line-height 20px
      
  .app-grid
    margin 0
    padding 0
    list-style none
    position relative
    width 100%
    
    li
      position relative
      float left
      overflow hidden
      width 16.6666667%
      height: 106px
      width -webkit-calc(100% / 6)
      width calc(100% / 6)
      padding: 0.3em;
      z-index: 1;
      border: 5px solid transparent;
      outline: 0;
      cursor: pointer;
      box-sizing: border-box;
      transition: 0.3s background-color;
      
      &:hover
        background-color rgba(198, 202, 204, 0.01);      

    div
      overflow hidden
      position absolute
      top 0
      background-color: rgba(198, 202, 204, 0.02);
      left 0
      width 100%
      height 100%
    
    .name
      color #ffffff
      font-size 15px
      font-weight 700
      line-height 20px
      width 150px
      white-space nowrap
      display inline-block
      position absolute
      overflow hidden
      text-overflow ellipsis
      top 35px
    
    .details
      color #b6c1c9
      font-size 13px
      font-weight 400
      width 55px
      height 10px
      top 60px
      white-space nowrap
      position absolute
      display inline-block

  @media screen and (max-width: 1190px) 
    .app-grid li 
      width: -webkit-calc(100% / 5)
      
      .name 
        width: -webkit-calc(100% / 5)
        
  @media screen and (max-width: 945px) 
    .app-grid li 
      width: -webkit-calc(100% / 4)

      .name 
        width: -webkit-calc(100% / 4)
            
  @media screen and (max-width: 660px) 
    .app-grid li 
      width: -webkit-calc(100% / 3)

      .name 
        width: -webkit-calc(100% / 3)
        
  @media screen and (max-width: 660px) 
    .app-grid li 
      width: -webkit-calc(100% / 3)

      .name 
        width: -webkit-calc(100% / 3)
        
  @media screen and (max-width: 400px) 
    .app-grid li 
      width: -webkit-calc(100% / 2)
      
      .name 
        width: -webkit-calc(100% / 2)
    
  @media screen and (max-width: 300px) 
    .app-grid li 
      width: 100%
      
  .nothingfound
    background-color #373743
    width 23em
    height 21em
    margin 0 auto
    display none
    font-family Arial
    -webkit-animation showSlowlyElement 700ms
    animation showSlowlyElement 700ms
    
    .nofiles
      margin 30px auto
      top 3em
      border-radius 50%
      position relative
      background-color #d72f6e
      width 11em
      height 11em
      line-height 11.4em
    
      &:after
        content '×'
        position absolute
        color #ffffff
        font-size 14em
        margin-right 0.092em
        right 0
    
    span
      margin 0 auto auto 6.8em
      color #ffffff
      font-size 16px
      font-weight 700
      line-height 20px
      height 13px
      position relative
      top 2em

  app-files
    .breadcrumbs
      color #ffffff
      margin-left 20px
      font-size 24px
      font-weight 700
      line-height 35px
  
  .icon
    font-size 23px

app-files .breadcrumbs a:link, .breadcrumbs a:visited
  color #ffffff
  text-decoration none

::-webkit-input-placeholder
  color #4d535e

.icon
  
  &.folder
    display inline-block
    margin 0.6em
    background-color transparent
    overflow hidden
  
    &:before
      content: '';
      float: left;
      background-color: rgba(131, 132, 140, 0.41);
      width: 1.5em;
      height: 0.45em;
      margin-left: 0.07em;
      margin-bottom: -0.07em;
      border-top-left-radius: 0.1em;
      border-top-right-radius: 0.1em;
      box-shadow: 1.25em 0.25em 0 0em rgba(108, 108, 113, 0.92);
    
    &:after
      content: '';
      float: left;
      clear: left;
      background-color: rgba(72, 80, 75, 0.26);
      width: 3em;
      height: 2.25em;
      border-radius: 0.1em;
  
    &.full
      &:before
        height 0.55em
  
      &:after
        height 2.15em
        box-shadow 0 -0.12em 0 0 #ffffff
  
  &.file
    width 2.5em
    height 3em
    line-height 3em
    text-align center
    border-radius 0.25em
    color #FFF
    display inline-block
    margin 0.6em 0.6em 0.4em 0.65em
    position relative
    overflow hidden
    box-shadow 1.74em -2.1em 0 0 #A4A7AC inset
    text-overflow ellipsis
    
    &:first-line
      font-size 13px
      font-weight 700
    
    &:after
      content ''
      position absolute
      z-index -1
      border-width 0
      border-bottom 2.6em solid #DADDE1
      border-right 2.22em solid rgba(0, 0, 0, 0)
      top -34.5px
      right -4px
    
    &.f-js
      box-shadow 1.74em -2.1em 0 0 #d0c54d inset
    
      &:after
        border-bottom-color #a69f4e
  
.icon.file.f-avi,
.icon.file.f-flv,
.icon.file.f-mkv,
.icon.file.f-mov,
.icon.file.f-mpeg,
.icon.file.f-mpg,
.icon.file.f-mp4,
.icon.file.f-m4v,
.icon.file.f-wmv
  box-shadow 1.74em -2.1em 0 0 #7e70ee inset

.icon.file.f-avi:after,
.icon.file.f-flv:after,
.icon.file.f-mkv:after,
.icon.file.f-mov:after,
.icon.file.f-mpeg:after,
.icon.file.f-mpg:after,
.icon.file.f-mp4:after,
.icon.file.f-m4v:after,
.icon.file.f-wmv:after
  border-bottom-color #5649c1

.icon.file.f-mp2,
.icon.file.f-mp3,
.icon.file.f-m3u,
.icon.file.f-wma,
.icon.file.f-xls,
.icon.file.f-xlsx
  box-shadow 1.74em -2.1em 0 0 #5bab6e inset

.icon.file.f-mp2:after,
.icon.file.f-mp3:after,
.icon.file.f-m3u:after,
.icon.file.f-wma:after,
.icon.file.f-xls:after,
.icon.file.f-xlsx:after
  border-bottom-color #448353

.icon.file.f-doc,
.icon.file.f-docx,
.icon.file.f-psd
  box-shadow 1.74em -2.1em 0 0 #03689b inset

.icon.file.f-doc:after,
.icon.file.f-docx:after,
.icon.file.f-psd:after
  border-bottom-color #2980b9

.icon.file.f-gif,
.icon.file.f-jpg,
.icon.file.f-jpeg,
.icon.file.f-pdf,
.icon.file.f-png
  box-shadow 1.74em -2.1em 0 0 #e15955 inset

.icon.file.f-gif:after,
.icon.file.f-jpg:after,
.icon.file.f-jpeg:after,
.icon.file.f-pdf:after,
.icon.file.f-png:after
  border-bottom-color #c6393f

.icon.file.f-deb,
.icon.file.f-dmg,
.icon.file.f-gz,
.icon.file.f-rar,
.icon.file.f-zip,
.icon.file.f-7z
  box-shadow 1.74em -2.1em 0 0 #867c75 inset

.icon.file.f-deb:after,
.icon.file.f-dmg:after,
.icon.file.f-gz:after,
.icon.file.f-rar:after,
.icon.file.f-zip:after,
.icon.file.f-7z:after
  border-bottom-color #685f58

.icon.file.f-html,
.icon.file.f-rtf,
.icon.file.f-xml,
.icon.file.f-xhtml
  box-shadow 1.74em -2.1em 0 0 #a94bb7 inset

.icon.file.f-html:after,
.icon.file.f-rtf:after,
.icon.file.f-xml:after,
.icon.file.f-xhtml:after
  border-bottom-color #d65de8

.icon.file.f-css,
.icon.file.f-saas,
.icon.file.f-scss
  box-shadow 1.74em -2.1em 0 0 #44afa6 inset

.icon.file.f-css:after,
.icon.file.f-saas:after,
.icon.file.f-scss:after
  border-bottom-color #30837c