<md-content flex layout="column" style="overflow-y: hidden">

  <div layout="row" layout-align="space-around" ng-if="!files.folders">
    <md-progress-circular value="{{browser.determinateValue}}" md-mode="determinate"></md-progress-circular>
  </div>
  
  <section class="dropzone-outter"></section>

  <div class="dropzone-inner">
    <md-icon md-font-set="material-icons">cloud_upload</md-icon>
    <h3>Drop files and folders here</h3>
    <div class="text-below">Or use one of the buttons above.</div>
  </div>

  <md-content layout-padding style="overflow: hidden;">
    <app-files></app-files>
  </md-content>
</md-content>