
<div chimerangular wc-player-ready="player.onPlayerReady($API)" style="height: 100%"
     wc-config="player.config"
     wc-complete="player.onCompleteVideo()"
     wc-error="player.onError($event)"
     wc-stop="player.show = false"
     wc-can-play="player.canplay = true"
     wc-update-time="player.onUpdateTime($currentTime, $duration)"
     wc-update-volume="player.onUpdateVolume($volume)"
     wc-update-state="player.onUpdateState($state)"
     wc-auto-play="player.config.autoPlay">

    <wc-media wc-loop="player.config.loop"
              wc-preload="player.config.preload">
    </wc-media>

    <div ng-init="wcAutohideClass = { value: 'hide-animation' }">
        <wc-top-controls wc-autohide="player.config.autoHide" wc-autohide-time="player.config.autoHideTime" wc-autohide-class="wcAutohideClass.value">
            <wc-close-button></wc-close-button>
        </wc-top-controls>

        <wc-bottom-controls ng-show="player.canplay" wc-autohide="player.config.autoHide" wc-autohide-time="player.config.autoHideTime" wc-autohide-class="wcAutohideClass.value">
            <wc-play-pause-button></wc-play-pause-button>
            <wc-time-display>{{ currentTime | formatTime }}</wc-time-display>
            
            <wc-scrub-bar>
                <wc-scrub-bar-current-time></wc-scrub-bar-current-time>
            </wc-scrub-bar>
            
            <wc-time-display>{{ timeLeft | formatTime }}</wc-time-display>
            <wc-playback-button></wc-playback-button>
            
            <wc-subtitle subtitles="player.config.tracks" current-subtitle="player.config.track"></wc-subtitle>
            
            <wc-volume>
                <wc-mute-button></wc-mute-button>
                <wc-volume-bar></wc-volume-bar>
            </wc-volume>
            
            <wc-fullscreen-button></wc-fullscreen-button>
        </wc-bottom-controls>

        <wc-next-video wc-next="player.config.next" wc-time="3000"></wc-next-video>
        <wc-torrent-info ng-hide="player.canplay" wc-torrent="player.torrent" wc-player="player.player"></wc-torrent-info>
        <wc-buffering ng-show="player.canplay"></wc-buffering>
        <wc-overlay-play ng-if="player.canplay"></wc-overlay-play>
    </div>
</div>